<center><h1>Список маршрутів</h1></center>

<center><table>
  <tr>
    <th>Номер</th>
    <th>Ім’я</th>
    <th>Ім’я водія</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @routes.each do |route| %>
  <tr>
    <td><%= route.number %></td>
    <td><%= route.name %></td>
    <td><%= route.driver.name%></td>
    <td><%= link_to 'Показати', route %></td>
    <td><%= link_to 'Редагувати', edit_route_path(route) %></td>
    <td><%= link_to 'Знищити', route, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%=will_paginate @routes%>
<%= link_to 'New Route', new_route_path %>
</center>