
<center><h1>Список водіїв</h1></center>
<center><table>
  <tr>
    <th>Ім'я</th>
    <th>Номер телефону
    <th>Категорія</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drivers.each do |driver| %>
  <tr>
    <td><%= driver.name %></td>
    <td><%= driver.tel %></td>
    <td><%= driver.category %></td>
    <td><%= link_to 'Показати', driver %></td>
    <td><%= link_to 'Редагувати', edit_driver_path(driver) %></td>
    <td><%= link_to 'Знищити', driver, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Новий водій', new_driver_path %>
<br />
<%= will_paginate @drivers%>
</center>
</body>