<p id="notice"><%= notice %></p>

<p>
  <b>Ім'я:</b>
  <%= @driver.name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @driver.tel %>
</p>

<p>
  <b>Категорія:</b>
  <%= @driver.category.name %>
</p>


<%= link_to 'Редагувати', edit_driver_path(@driver) %> |
<%= link_to 'Список водіїв', drivers_path %>
