<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @driver.name %>
</p>

<p>
  <b>Tel:</b>
  <%= @driver.tel %>
</p>

<p>
  <b>Category:</b>
  <%= @driver.category %>
</p>


<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
